############
## Windows #
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store


#########
# IDEA ##
#########
*.ipr
*.iws
.idea
*.iml
atlassian-ide-plugin.xml