.form-message {
    height: 30px;
    font-size: 14px;
    line-height: 5px;
    margin-left: 15px;
    margin-right: 10px;
}

.btn-signup {
    /* we will add more content here in the following classes*/
}